---
- name: Distro specific installation
  include: "{{ ansible_distribution }}.yml"

- name: Copy conf.d configs and snippets
  copy:
    src: "{{ item }}"
    dest: "/etc/nginx/{{ item }}"
  notify:
    - Restart nginx
  with_items:
    - conf.d/
    - snippets/

- name: Install nginx.conf
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify:
    - Restart nginx

- name: Install a strong DH group
  command: openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048
  args:
    creates: /etc/ssl/certs/dhparam.pem

- name: Remove default vhost
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Ensure nginx is enabled & running
  service:
    name: nginx
    state: started
    enabled: yes
