[Container]
ContainerName=mailauth
Image=git.zeus.gent/zeuswpi/mailauth
Volume=/var/lib/mailauth/mailauth.db:/mailauth.db
AutoUpdate=registry
Environment=ZAUTH_URL="https://zauth.zeus.gent"
Environment=ZAUTH_CALLBACK_PATH="https://mailauth.zeus.gent/oauth/callback"
Environment=HOST_URL="https://mailauth.zeus.gent"
Environment=ZAUTH_CLIENT_ID="mailauth"
Environment=DATABASE_URL="sqlite://mailauth.db"
Environment=LISTEN_ADDRESS=0.0.0.0
Environment=PORT=3000
Secret=mailauth_cookieskey,type=env,target=COOKIES_KEY
Secret=mailauth_clientsecret,type=env,target=ZAUTH_CLIENT_SECRET
Timezone=local
PublishPort=127.0.0.1:3000:3000
[Install]
WantedBy=multi-user.target
