---
- name: Install antivirus packages
  apt: name={{ item }} state=present
  with_items:
    - amavisd-new
    - clamav
  notify:
    - Restart amavis

- name: Install optional packages for better virus detection of archives
  apt: name={{ item }} state=present
  with_items:
    - arj
    - bzip2
    - cabextract
    - cpio
    - file
    - gzip
    - nomarch
    - pax
    - rar
    - unrar
    - unzip
    - zip
    - zoo

- name: Add clamav user to amavis for scanning access
  user: name=clamav group=amavis state=present append=yes

- name: ... and vice versa
  user: name=amavis group=clamav state=present append=yes

- name: Enable razor (1)
  command: razor-admin -create
  args:
    creates: /var/lib/amavis/.razor/
  become: yes
  become_user: amavis
  register: razor_enabling

- name: Enable razor (2)
  command: razor-admin -register
  become: yes
  become_user: amavis
  when: razor_enabling.changed

- name: Enable pyzor
  command: pyzor discover
  become: yes
  become_user: amavis
  when: razor_enabling.changed

- name: Enable both antivirus and spam filtering for Amavis
  copy: src=15-content_filter_mode dest=/etc/amavis/conf.d/15-content_filter_mode
  notify:
    - Restart amavis

- name: Copy the clamav config
  copy: src=clamd.conf dest=/etc/clamd.conf
  
- name: Copy the amavisd config
  copy: src=amavisd.conf dest=/etc/amavisd.conf
  notify:
    - Restart amavis
	- Restart clamav
	
- name: Ensure all daemons are running
  service: name={{ item }} state=started
  with_items:
    - amavis
    - clamav-freshclam
