{% if ansible_distribution != "Archlinux" %}
user {{ nginx_user }};
pid /run/nginx.pid;
{% endif %}

# Include enabled modules
include modules-enabled/*;

worker_processes  auto;
error_log  /var/log/nginx/error.log warn;

events {
    worker_connections  1024;
}

include more_config/*;

http {

    # Deny all undefined traffic
    server {
        listen 80 default_server;
        server_name _;
        deny all;


        # But still serve the letsencrypt directory, so we can request certificates
        # without having a site for it yet
        include snippets/letsencrypt.conf;
    }

    include       mime.types;
    default_type  application/octet-stream;

    log_format    main  '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';

    access_log    /var/log/nginx/access.log  main;

    gzip                on;
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    server_tokens       off;
    keepalive_timeout   10;
    types_hash_max_size 2048;

    # vhosts
    include       sites-enabled/*;

    # other configurations
    include conf.d/*;

    # We can't use `ssl_reject_handshake` because we're still at NGINX 1.18
    server {
        listen 443 ssl default_server;
        ssl_certificate     /etc/ssl/snakeoil.pem;
        ssl_certificate_key /etc/ssl/snakeoil.key;
        server_name _;
        return 444;
    }
}
