[Container]
ContainerName=woodpecker
Image=docker.io/woodpeckerci/woodpecker-server:latest
Network=woodpecker.network
PublishPort=127.0.0.1:8000:8000
Volume=woodpecker-server-data.volume:/var/lib/woodpecker:Z
Environment=WOODPECKER_OPEN=true
Environment=WOODPECKER_ORGS=DERP
Environment=WOODPECKER_REPO_OWNERS=DERP
Environment=WOODPECKER_HOST=https://ci.zeus.gent
Environment=WOODPECKER_GITHUB=true
Environment=WOODPECKER_GITHUB_URL=https://github.ugent.be
Environment=WOODPECKER_ADMIN=xabil
Environment=WOODPECKER_GITHUB_CLIENT=5c123cdb35cab305330b
Secret=woodpecker_github_secret,type=env,target=WOODPECKER_GITHUB_SECRET
Secret=woodpecker_agent_secret,type=env,target=WOODPECKER_AGENT_SECRET
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
