[Container]
ContainerName=alloy
Image=docker.io/grafana/alloy
PodmanArgs=--pid=host
UserNS=host
Unmask=ALL
Network=host
Exec=run /etc/alloy/config.alloy --storage.path=/var/lib/alloy/data --disable-reporting
Volume=/etc/alloy/config.alloy:/etc/alloy/config.alloy:z,ro
Volume=systemd-alloy:/var/lib/alloy/data:U,Z
Volume=/:/run/host:ro
Volume=/run/systemd:/run/systemd
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
