---
- name: Install fail2ban
  apt: name=fail2ban state=present
  register: fail2ban_install

- name: Copy jail.local
  copy: src={{ fail2ban_config_location }}/jail.local dest=/etc/fail2ban/jail.local
  notify:
    - Restart fail2ban

- name: Copy fail2ban.conf
  copy: src=fail2ban.conf dest=/etc/fail2ban/fail2ban.conf
  notify:
    - Restart fail2ban

- name: Copy action.d
  copy: src=action.d/ dest=/etc/fail2ban/action.d/
  notify:
    - Restart fail2ban

- name: Copy filter.d
  copy: src=filter.d/ dest=/etc/fail2ban/filter.d/
  notify:
    - Restart fail2ban
