[Container]
ContainerName=postsrsd
Image=docker.io/fphammerle/postsrsd
PublishPort=127.0.0.1:10001:10001
PublishPort=127.0.0.1:10002:10002
Environment=SRS_DOMAIN=zeus.ugent.be
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
