[Container]
ContainerName=postsrsd
Image=docker.io/ajoergensen/postsrsd
PublishPort=127.0.0.1:10003:10003
Environment=SRS_DOMAIN=zeus.ugent.be
Secret=SRS_SECRET,type=env
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
