[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey
Network=mail.network
Volume=valkey.volume:/data:U,Z
AutoUpdate=registry
[Install]
WantedBy=multi-user.target
